@font-face {
	font-family: 'Metroid Prime';
	src: url(fonts/Metroid Prime Hunters.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Metroid Prime';
	box-sizing: border-box;
}